<div class="sidebar-theme-toggle">
  <button class="btn js-toggle-dark-mode">Preview dark color scheme</button>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const toggleDarkMode = document.querySelector(".js-toggle-dark-mode");
    if (!toggleDarkMode || typeof jtd === "undefined") return;

    toggleDarkMode.addEventListener("click", function () {
      if (jtd.getTheme() === "dark") {
        jtd.setTheme("light");
        toggleDarkMode.textContent = "Preview dark color scheme";
      } else {
        jtd.setTheme("dark");
        toggleDarkMode.textContent = "Return to the light side";
      }
    });
  });
</script>